{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    login
{% endblock title %}

{% block content %}
    {% if err_msg %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ err_msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form action="" method="POST" class="p-3 border border-2"> <!-- p-3 is padding-->
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-3">Log in</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
        </div>
    </div>
{% endblock content %}

